body{
background:#0c0f2b;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
overflow:hidden;
font-family:Georgia;
}

/* estrellas */

.estrellas{
position:fixed;
width:100%;
height:100%;
background:transparent;
box-shadow:
50px 100px rgb(255, 255, 255),
200px 300px rgb(255, 255, 255),
400px 150px rgb(255, 255, 255),
600px 500px white,
900px 200px white,
1200px 400px white,
300px 600px white,
700px 100px white;
animation:parpadeo 2s infinite alternate;
}

@keyframes parpadeo{
from{opacity:.3}
to{opacity:1}
}

.contenedor{
position:relative;
}

/* SOBRE */

.sobre{
position:relative;
width:350px;
height:220px;
cursor:pointer;
}

/* CUERPO SOBRE */

.cuerpo{
position:absolute;
width:350px;
height:220px;
background:#e74c3c;
bottom:0;
z-index:3;
}

/* TAPA */

.tapa{
position:absolute;
width:0;
height:0;
border-left:175px solid transparent;
border-right:175px solid transparent;
border-top:120px solid #c0392b;
top:0;
transform-origin:top;
transition:1s;
z-index:4;
}

/* CARTA */

.carta{
position:absolute;
width:300px;
height:180px;
background:white;
left:25px;
top:40px;
padding:20px;
box-sizing:border-box;
text-align:center;
font-size:15px;
transition:1s;
z-index:1;
overflow:auto;
border-radius:5px;
}

/* ANIMACIÓN AL ABRIR */

.abierto .tapa{
transform:rotateX(180deg);
}

.abierto .carta{
transform:translateY(-220px);
z-index:5;
}

/* CORAZONES */


.corazones{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
pointer-events:none;
overflow:hidden;
}

.corazon{
position:absolute;
color:red;
font-size:20px;
animation:flotar 6s linear infinite;
}

@keyframes flotar{
0%{
transform:translateY(100vh);
opacity:1;
}

100%{
transform:translateY(-10vh);
opacity:0;
}
}